option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 18.17.0
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: client/build/static
    /favicon.ico: client/build/favicon.ico
    /manifest.json: client/build/manifest.json
    /logo192.png: client/build/logo192.png
    /logo512.png: client/build/logo512.png 